@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MysteryBox</h1>
    <p class="lead">The ammount of hype is real!</p>
    <p><a @*href="http://asp.net"*@ onclick='window.location="@Url.Action("Index","Users")";' class="btn btn-primary btn-lg">Buy MysteryBox &raquo;</a></p>
</div>


  